.carrito {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 25px;
}

.card-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card-prod {
    width: 100%;
    max-width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
    overflow: hidden;
}

.card-prod:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-prod img {
    width: 60%;
    height: 50%;
    object-fit: contain;
    margin-top: 10px;
}

.card-prod p {
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    padding: 5px 15px;
    color: #fff;
}

.card-prod h4 {
    color: #fff;
    margin: 7px;
}

.card-prod button {
    width: 180px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #101010;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.card-prod button:hover {
    background-color: #222;
}

.vaciar-carrito-btn {
    display: block;
    margin: 20px auto;
    width: 200px;
    padding: 10px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    transition: all 0.3s ease;
}

.vaciar-carrito-btn:hover {
    background-color: darkred;
    transform: scale(1.05);
}
