.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s ease;
    /* background: none; */
}

.theme-toggle:hover {
    transform: scale(1.1);
}

/* Tema claro */
body {
    --card-bg: #fff;
    --card-text: #222;
    --card-price: #333;
    --btn-bg: #0077ff;
    --btn-text: #fff;
}

/* Tema oscuro */
body.dark-theme {
    --card-bg: #333;
    --card-text: #eee;
    --card-price: #fff;
    --btn-bg: #1a1a1a;
    --btn-text: #fff;
}

/* :root {
    --card-bg: #fff;
    --card-text: #222;
    --card-price: #333;
    --btn-bg: #0077ff;
    --btn-text: #fff;
}

.dark-theme {
    --card-bg: #333;
    --card-text: #eee;
    --card-price: #fff;
    --btn-bg: #1a1a1a;
    --btn-text: #fff;
} */
